# MongoDB Atlas connection string
MONGO_URL=mongodb+srv://<user>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=cattleman

# Backend server
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
